* {
    margin: 0;
    padding: 0;
  }
  .stadium-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    object-fit: cover;
  }
  .team-logo {
    margin-left: 45%;
    margin-top: 3%;
    height: 150px;
    width: 150px;
    text-align: center;
  }
  
  .conditional-image img {
    width: 95%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
  }
  
  .social-link {
    font-size: 25px;
  }
  
  .player-details {
    background-color: #0E0A2A;
    overflow: hidden;
    color: #fff;
  }
  
  .about-team {
    background: #4444e4;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 1px 3px grey;
  }
  
  a .facebook {
    text-decoration: none;
  }
  
  a.twitter {
    text-decoration: none;
  }
  
  a.youTube {
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .team-logo {
      margin-left: 34%;
      margin-top: 10%;
      height: 150px;
      width: 150px;
      text-align: center;
    }
  }
  @media (max-width: 400px) {
    .team-logo {
      margin-left: 25%;
      margin-top: 10%;
      height: 150px;
      width: 150px;
      text-align: center;
    }
}